<h2>
    @if(categoria){
        Editar
    } @else {
        Crear
    }
    categoria
</h2>

<div class="row row-cols-3 justify-content-center">
    @if(form){
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="mb-3">
                <label for="nombreCategoria" class="form-label">Nombre de la Categoria</label>
                <input type="text" class="form-control" id="nombreCategoria" placeholder="Nombre" formControlName="nombreCategoria">
            </div>
            <div class="mb-3">
                <label for="descripcionCategoria" class="form-label">Descripcion de la Categoria</label>
                <input type="text" class="form-control" id="descripcionCategoria" placeholder="Descripcion" formControlName="descripcionCategoria">
            </div>
            <button type="button" class="btn btn-danger" routerLink="/categorias">Cancelar</button>
            <button class="btn btn-primary">
                @if(categoria){
                    Editar
                } @else {
                    Crear
                }
            </button>
        </form>
    }
</div>